
// A set of breakpoints that includes larger screens than we would
// normally target with static styles for older browsers.
mq-breakpoints = {
  // Base device classes
  mobile: 320px,
  tablet: 640px,
  desktop: 1024px,
  widescreen: 1200px,
  tvscreen: 1920px,

  // Tweakpoints
  mobileLandscape: 480px
};

// Show active breakpoint in top right corner of viewport
mq-show-breakpoints = ('tvscreen' 'widescreen' 'desktop' 'tablet' 'mobile');

// Include media query handling
@import '../mq';

styles() {
  // Up to mobile
  +mq(until: 'mobile') {
    content: "to-mobile";
  }

  // From mobile and up
  +mq(from: 'mobile') {
    content: "from-mobile";
  }

  // From mobile to tablet (exclusive)
  +mq(from: 'mobile', until: 'tablet') {
    content: "from-mobile-to-tablet";
  }

  // From unitless value
  +mq(640) {
    content: "from-640";
  }

  // Up to tablet
  +mq(until: 'tablet') {
    content: "to-tablet";
  }

  // Combine upper limit and custom directive
  +mq(until: 'tablet', extra: '(orientation: landscape)') {
    content: "to-tablet-and-orientation-landscape";
  }

  // From tablet and up
  +mq(from: 'tablet') {
    content: "from-tablet";
  }

  // From tablet to desktop (exclusive)
  +mq(from: 'tablet', until: 'desktop') {
    content: "from-tablet-to-desktop";
  }

  // Combine unitless boundaries and custom directive
  +mq(768, 1023, extra: '(orientation: portrait)') {
    content: "from-768-to-1023-and-orientation-portrait";
  }

  // From desktop and up
  +mq(from: 'desktop') {
    content: "from-desktop";
  }

  // From em value
  +mq(until: 70em) {
    content: "to-70em";
  }

  // To pixel value
  +mq(until: 1100px) {
    content: "to-1100px";
  }

  // From desktop to widescreen (exclusive)
  +mq(from: 'desktop', until: 'widescreen') {
    content: "from-desktop-to-widescreen";
  }

  // From widescreen and up
  +mq(from: 'widescreen') {
    content: "from-widescreen";
  }

  // From widescreen to tvscreen (exclusive)
  +mq(from: 'widescreen', until: 'tvscreen') {
    content: "from-widescreen-to-tvscreen";
  }

  // From tvscreen and up
  +mq(from: 'tvscreen') {
    content: "from-tvscreen";
  }

  // Custom @media query
  +mq(extra: '(-webkit-min-device-pixel-ratio: 1.3), (min-resolution: 124.8dpi), (min-resolution: 1.3dppx)') {
    content: "hidpi-screen";
  }

  // Add a custom breakpoint
  mq-breakpoints = mq-add-breakpoint('cinema', 4096px);

  +mq('cinema') {
    content: "from-cinema";
  }

  +mq(until: 'cinema') {
    content: "to-cinema";
  }
}

// Responsive styles for devices that understand media queries
.responsive:after {
  styles();
}

.mq-breakpoints-to-json {
  &:after {
    display: none;
    content: mq-breakpoints-to-json();
  }
}

// Rasterized styles that span or start at the "desktop" breakpoint
// (e.g. to serve to IE8 via conditional comments in a separate stylesheet)
mq-responsive = false;
mq-static-breakpoint = 'desktop';

.static:after {
  styles();
}
